*{
  background-color: #483b3b1b;
}

.counter-container{
  text-align: center;
  font: 1em sans-serif;
  
}

.count-display{
  font-size: 5em;
  margin: 10px;
  /* height: 100vh; */
}
.counter-button{
  font: 3em sans-serif;
  margin: 20px;
  border: 3px solid;
  border-radius: 10px;
  background-color:burlywood  
}
.counter-button:hover{
  background-color: blanchedalmond;
  cursor: pointer;
}